<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>箱标签</title>
    <style media=print>
        .Noprint {
            display: none;
        }

        .PageNext {
            page-break-after: always;
        }
    </style>
    <style type="text/css">
        body {
            font-family: 'Microsoft YaHei';
            font-size: 8pt;
            width: 200mm;
            height: 275mm;
            /*margin: 5mm 5mm 5mm 5mm;*/
        }

        .NOPRINT {
            font-family: "宋体";
            font-size: 9pt;
        }

        #details {
            width: 100%;
            height: 100%;
            /*border: 0.1mm solid;*/
        }

        div {
            text-overflow: initial;
        }

        .leftborder {
            border-left: 0.1mm solid #000;
        }

        .rightborder {
            border-right: 0.1mm solid #000;
        }

        .topborder {
            border-top: 0.1mm solid #000;
        }

        .bottomborder {
            border-bottom: 0.1mm solid #000;
        }

        .titlediv {
            /*background-color: gainsboro;*/
        }

        .demo {
            display: table;
        }

        p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="details">
        <div id="detail" style="width:200mm;height:90mm;margin-bottom:5mm;">
            <div style="width:130mm;height:90mm;float:left;">
                <div class="topborder leftborder" style="width:39.6mm;height:26.9mm;float:left;">
                    <span>
                        <img style="margin:8mm 3mm;width:34mm;height:10mm;" src="Images/favio.jpg" />
                    </span>
                </div>
                <div class="topborder leftborder" style="width:89.9mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:89.9mm;height:5mm;float:left;"><p>零件 Part</p></div>
                    <div class="bottomborder demo" style="width:89.9mm;height:13.9mm;float:left;"><p style="font-size:30pt;"><strong>V700000953</strong></p></div>
                    <div class="demo" style="width:89.9mm;height:8mm;float:left;"><p style="font-size:14pt;"><strong>前排座椅滑轨前端装饰盖</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:77.5mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:77.5mm;height:5mm;float:left;"><p>供应商 Supplier</p></div>
                    <div class="bottomborder demo" style="width:77.5mm;height:13.9mm;float:left;"><p style="font-size:16pt;">宁波信泰机械有限公司</p></div>
                    <div class="demo" style="width:77.5mm;height:8mm;float:left;"><p style="font-size:16pt;"><strong>S0312</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:52mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:52mm;height:5mm;float:left;"><p>生产批次号 Production No.</p></div>
                    <div class="demo" style="width:52mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>20170810</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:38.3mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>器具代码 Package</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>EU12528</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:26mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>收容数SNP</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>10000</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:65mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>到货时间 Arrival Time</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>2015/4/27  13:30:00</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder" style="width:38.3mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>工厂 Plant</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>欧曼二厂</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:26mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>道口 Dock</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 18pt;"><strong>DR01</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:65mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>单据号 Order Number</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>AS150427K0011</strong></p></div>
                </div>
            </div>
            <div style="width:70mm;height:90mm;float:left;">
                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div style="width:70mm;height:19.9mm;float:left;line-height:1mm;">
                        <img style="margin:1mm 2mm;width:65mm;height:20mm;" src="barcode.jpg" />
                        <br /><p style="width:70mm; font-size: 14pt;align-content:center; vertical-align:top;"><strong>2015010100002</strong></p>
                    </div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>库位地址  Storage  Address</p></div>
                    <div class="demo" style="width:70mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>KLT-A01-01</strong></p></div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>超市地址 Buffer  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>SA-001-01-01</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder rightborder" style="width:70mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>线边地址 Lineside  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.8mm;float:left;"><p style="font-size: 14pt;"><strong>AS-S-T1-01</strong></p></div>
                </div>
            </div>
        </div>
        <div id="detail" style="width:200mm;height:90mm;margin-bottom:5mm;">
            <div style="width:130mm;height:90mm;float:left;">
                <div class="topborder leftborder" style="width:39.6mm;height:26.9mm;float:left;">
                    <span>
                        <img style="margin:8mm 3mm;width:34mm;height:10mm;" src="Images/favio.jpg" />
                    </span>
                </div>
                <div class="topborder leftborder" style="width:89.9mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:89.9mm;height:5mm;float:left;"><p>零件 Part</p></div>
                    <div class="bottomborder demo" style="width:89.9mm;height:13.9mm;float:left;"><p style="font-size:30pt;"><strong>V700000953</strong></p></div>
                    <div class="demo" style="width:89.9mm;height:8mm;float:left;"><p style="font-size:14pt;"><strong>前排座椅滑轨前端装饰盖</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:77.5mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:77.5mm;height:5mm;float:left;"><p>供应商 Supplier</p></div>
                    <div class="bottomborder demo" style="width:77.5mm;height:13.9mm;float:left;"><p style="font-size:16pt;">宁波信泰机械有限公司</p></div>
                    <div class="demo" style="width:77.5mm;height:8mm;float:left;"><p style="font-size:16pt;"><strong>S0312</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:52mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:52mm;height:5mm;float:left;"><p>生产批次号 Production No.</p></div>
                    <div class="demo" style="width:52mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>20170810</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:38.3mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>器具代码 Package</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>EU12528</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:26mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>收容数SNP</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>10000</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:65mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>到货时间 Arrival Time</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>2015/4/27  13:30:00</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder" style="width:38.3mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>工厂 Plant</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>欧曼二厂</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:26mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>道口 Dock</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 18pt;"><strong>DR01</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:65mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>单据号 Order Number</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>AS150427K0011</strong></p></div>
                </div>
            </div>
            <div style="width:70mm;height:90mm;float:left;">
                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div style="width:70mm;height:19.9mm;float:left;line-height:1mm;">
                        <img style="margin:1mm 2mm;width:65mm;height:20mm;" src="barcode.jpg" />
                        <br /><p style="width:70mm; font-size: 14pt;align-content:center; vertical-align:top;"><strong>2015010100002</strong></p>
                    </div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>库位地址  Storage  Address</p></div>
                    <div class="demo" style="width:70mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>KLT-A01-01</strong></p></div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>超市地址 Buffer  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>SA-001-01-01</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder rightborder" style="width:70mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>线边地址 Lineside  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.8mm;float:left;"><p style="font-size: 14pt;"><strong>AS-S-T1-01</strong></p></div>
                </div>
            </div>
        </div>
        <div id="detail" style="width:200mm;height:90mm;margin-bottom:5mm;">
            <div style="width:130mm;height:90mm;float:left;">
                <div class="topborder leftborder" style="width:39.6mm;height:26.9mm;float:left;">
                    <span>
                        <img style="margin:8mm 3mm;width:34mm;height:10mm;" src="Images/favio.jpg" />
                    </span>
                </div>
                <div class="topborder leftborder" style="width:89.9mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:89.9mm;height:5mm;float:left;"><p>零件 Part</p></div>
                    <div class="bottomborder demo" style="width:89.9mm;height:13.9mm;float:left;"><p style="font-size:30pt;"><strong>V700000953</strong></p></div>
                    <div class="demo" style="width:89.9mm;height:8mm;float:left;"><p style="font-size:14pt;"><strong>前排座椅滑轨前端装饰盖</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:77.5mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:77.5mm;height:5mm;float:left;"><p>供应商 Supplier</p></div>
                    <div class="bottomborder demo" style="width:77.5mm;height:13.9mm;float:left;"><p style="font-size:16pt;">宁波信泰机械有限公司</p></div>
                    <div class="demo" style="width:77.5mm;height:8mm;float:left;"><p style="font-size:16pt;"><strong>S0312</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:52mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:52mm;height:5mm;float:left;"><p>生产批次号 Production No.</p></div>
                    <div class="demo" style="width:52mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>20170810</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:38.3mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>器具代码 Package</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>EU12528</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:26mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>收容数SNP</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>10000</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:65mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>到货时间 Arrival Time</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>2015/4/27  13:30:00</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder" style="width:38.3mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>工厂 Plant</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>欧曼二厂</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:26mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>道口 Dock</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 18pt;"><strong>DR01</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:65mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>单据号 Order Number</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>AS150427K0011</strong></p></div>
                </div>
            </div>
            <div style="width:70mm;height:90mm;float:left;">
                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div style="width:70mm;height:19.9mm;float:left;line-height:1mm;">
                        <img style="margin:1mm 2mm;width:65mm;height:20mm;" src="barcode.jpg" />
                        <br /><p style="width:70mm; font-size: 14pt;align-content:center; vertical-align:top;"><strong>2015010100002</strong></p>
                    </div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>库位地址  Storage  Address</p></div>
                    <div class="demo" style="width:70mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>KLT-A01-01</strong></p></div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>超市地址 Buffer  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>SA-001-01-01</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder rightborder" style="width:70mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>线边地址 Lineside  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.8mm;float:left;"><p style="font-size: 14pt;"><strong>AS-S-T1-01</strong></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="PageNext"></div>
    <div id="details">
        <div id="detail" style="width:200mm;height:90mm;margin-bottom:5mm;">
            <div style="width:130mm;height:90mm;float:left;">
                <div class="topborder leftborder" style="width:39.6mm;height:26.9mm;float:left;">
                    <span>
                        <img style="margin:8mm 3mm;width:34mm;height:10mm;" src="Images/favio.jpg" />
                    </span>
                </div>
                <div class="topborder leftborder" style="width:89.9mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:89.9mm;height:5mm;float:left;"><p>零件 Part</p></div>
                    <div class="bottomborder demo" style="width:89.9mm;height:13.9mm;float:left;"><p style="font-size:30pt;"><strong>V700000953</strong></p></div>
                    <div class="demo" style="width:89.9mm;height:8mm;float:left;"><p style="font-size:14pt;"><strong>前排座椅滑轨前端装饰盖</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:77.5mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:77.5mm;height:5mm;float:left;"><p>供应商 Supplier</p></div>
                    <div class="bottomborder demo" style="width:77.5mm;height:13.9mm;float:left;"><p style="font-size:16pt;">宁波信泰机械有限公司</p></div>
                    <div class="demo" style="width:77.5mm;height:8mm;float:left;"><p style="font-size:16pt;"><strong>S0312</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:52mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:52mm;height:5mm;float:left;"><p>生产批次号 Production No.</p></div>
                    <div class="demo" style="width:52mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>20170810</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:38.3mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>器具代码 Package</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>EU12528</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:26mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>收容数SNP</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>10000</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:65mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>到货时间 Arrival Time</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>2015/4/27  13:30:00</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder" style="width:38.3mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>工厂 Plant</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>欧曼二厂</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:26mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>道口 Dock</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 18pt;"><strong>DR01</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:65mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>单据号 Order Number</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>AS150427K0011</strong></p></div>
                </div>
            </div>
            <div style="width:70mm;height:90mm;float:left;">
                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div style="width:70mm;height:19.9mm;float:left;line-height:1mm;">
                        <img style="margin:1mm 2mm;width:65mm;height:20mm;" src="barcode.jpg" />
                        <br /><p style="width:70mm; font-size: 14pt;align-content:center; vertical-align:top;"><strong>2015010100002</strong></p>
                    </div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>库位地址  Storage  Address</p></div>
                    <div class="demo" style="width:70mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>KLT-A01-01</strong></p></div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>超市地址 Buffer  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>SA-001-01-01</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder rightborder" style="width:70mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>线边地址 Lineside  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.8mm;float:left;"><p style="font-size: 14pt;"><strong>AS-S-T1-01</strong></p></div>
                </div>
            </div>
        </div>
        <div id="detail" style="width:200mm;height:90mm;margin-bottom:5mm;">
            <div style="width:130mm;height:90mm;float:left;">
                <div class="topborder leftborder" style="width:39.6mm;height:26.9mm;float:left;">
                    <span>
                        <img style="margin:8mm 3mm;width:34mm;height:10mm;" src="Images/favio.jpg" />
                    </span>
                </div>
                <div class="topborder leftborder" style="width:89.9mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:89.9mm;height:5mm;float:left;"><p>零件 Part</p></div>
                    <div class="bottomborder demo" style="width:89.9mm;height:13.9mm;float:left;"><p style="font-size:30pt;"><strong>V700000953</strong></p></div>
                    <div class="demo" style="width:89.9mm;height:8mm;float:left;"><p style="font-size:14pt;"><strong>前排座椅滑轨前端装饰盖</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:77.5mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:77.5mm;height:5mm;float:left;"><p>供应商 Supplier</p></div>
                    <div class="bottomborder demo" style="width:77.5mm;height:13.9mm;float:left;"><p style="font-size:16pt;">宁波信泰机械有限公司</p></div>
                    <div class="demo" style="width:77.5mm;height:8mm;float:left;"><p style="font-size:16pt;"><strong>S0312</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:52mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:52mm;height:5mm;float:left;"><p>生产批次号 Production No.</p></div>
                    <div class="demo" style="width:52mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>20170810</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:38.3mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>器具代码 Package</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>EU12528</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:26mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>收容数SNP</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>10000</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:65mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>到货时间 Arrival Time</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>2015/4/27  13:30:00</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder" style="width:38.3mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>工厂 Plant</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>欧曼二厂</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:26mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>道口 Dock</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 18pt;"><strong>DR01</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:65mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>单据号 Order Number</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>AS150427K0011</strong></p></div>
                </div>
            </div>
            <div style="width:70mm;height:90mm;float:left;">
                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div style="width:70mm;height:19.9mm;float:left;line-height:1mm;">
                        <img style="margin:1mm 2mm;width:65mm;height:20mm;" src="barcode.jpg" />
                        <br /><p style="width:70mm; font-size: 14pt;align-content:center; vertical-align:top;"><strong>2015010100002</strong></p>
                    </div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>库位地址  Storage  Address</p></div>
                    <div class="demo" style="width:70mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>KLT-A01-01</strong></p></div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>超市地址 Buffer  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>SA-001-01-01</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder rightborder" style="width:70mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>线边地址 Lineside  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.8mm;float:left;"><p style="font-size: 14pt;"><strong>AS-S-T1-01</strong></p></div>
                </div>
            </div>
        </div>
        <div id="detail" style="width:200mm;height:90mm;margin-bottom:5mm;">
            <div style="width:130mm;height:90mm;float:left;">
                <div class="topborder leftborder" style="width:39.6mm;height:26.9mm;float:left;">
                    <span>
                        <img style="margin:8mm 3mm;width:34mm;height:10mm;" src="Images/favio.jpg" />
                    </span>
                </div>
                <div class="topborder leftborder" style="width:89.9mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:89.9mm;height:5mm;float:left;"><p>零件 Part</p></div>
                    <div class="bottomborder demo" style="width:89.9mm;height:13.9mm;float:left;"><p style="font-size:30pt;"><strong>V700000953</strong></p></div>
                    <div class="demo" style="width:89.9mm;height:8mm;float:left;"><p style="font-size:14pt;"><strong>前排座椅滑轨前端装饰盖</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:77.5mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:77.5mm;height:5mm;float:left;"><p>供应商 Supplier</p></div>
                    <div class="bottomborder demo" style="width:77.5mm;height:13.9mm;float:left;"><p style="font-size:16pt;">宁波信泰机械有限公司</p></div>
                    <div class="demo" style="width:77.5mm;height:8mm;float:left;"><p style="font-size:16pt;"><strong>S0312</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:52mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:52mm;height:5mm;float:left;"><p>生产批次号 Production No.</p></div>
                    <div class="demo" style="width:52mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>20170810</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:38.3mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>器具代码 Package</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>EU12528</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:26mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>收容数SNP</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>10000</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:65mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>到货时间 Arrival Time</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>2015/4/27  13:30:00</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder" style="width:38.3mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>工厂 Plant</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>欧曼二厂</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:26mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>道口 Dock</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 18pt;"><strong>DR01</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:65mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>单据号 Order Number</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>AS150427K0011</strong></p></div>
                </div>
            </div>
            <div style="width:70mm;height:90mm;float:left;">
                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div style="width:70mm;height:19.9mm;float:left;line-height:1mm;">
                        <img style="margin:1mm 2mm;width:65mm;height:20mm;" src="barcode.jpg" />
                        <br /><p style="width:70mm; font-size: 14pt;align-content:center; vertical-align:top;"><strong>2015010100002</strong></p>
                    </div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>库位地址  Storage  Address</p></div>
                    <div class="demo" style="width:70mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>KLT-A01-01</strong></p></div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>超市地址 Buffer  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>SA-001-01-01</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder rightborder" style="width:70mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>线边地址 Lineside  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.8mm;float:left;"><p style="font-size: 14pt;"><strong>AS-S-T1-01</strong></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="PageNext"></div>
    <div id="details">
        <div id="detail" style="width:200mm;height:90mm;margin-bottom:5mm;">
            <div style="width:130mm;height:90mm;float:left;">
                <div class="topborder leftborder" style="width:39.6mm;height:26.9mm;float:left;">
                    <span>
                        <img style="margin:8mm 3mm;width:34mm;height:10mm;" src="Images/favio.jpg" />
                    </span>
                </div>
                <div class="topborder leftborder" style="width:89.9mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:89.9mm;height:5mm;float:left;"><p>零件 Part</p></div>
                    <div class="bottomborder demo" style="width:89.9mm;height:13.9mm;float:left;"><p style="font-size:30pt;"><strong>V700000953</strong></p></div>
                    <div class="demo" style="width:89.9mm;height:8mm;float:left;"><p style="font-size:14pt;"><strong>前排座椅滑轨前端装饰盖</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:77.5mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:77.5mm;height:5mm;float:left;"><p>供应商 Supplier</p></div>
                    <div class="bottomborder demo" style="width:77.5mm;height:13.9mm;float:left;"><p style="font-size:16pt;">宁波信泰机械有限公司</p></div>
                    <div class="demo" style="width:77.5mm;height:8mm;float:left;"><p style="font-size:16pt;"><strong>S0312</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:52mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:52mm;height:5mm;float:left;"><p>生产批次号 Production No.</p></div>
                    <div class="demo" style="width:52mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>20170810</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:38.3mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>器具代码 Package</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>EU12528</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:26mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>收容数SNP</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>10000</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:65mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>到货时间 Arrival Time</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>2015/4/27  13:30:00</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder" style="width:38.3mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>工厂 Plant</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>欧曼二厂</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:26mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>道口 Dock</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 18pt;"><strong>DR01</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:65mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>单据号 Order Number</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>AS150427K0011</strong></p></div>
                </div>
            </div>
            <div style="width:70mm;height:90mm;float:left;">
                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div style="width:70mm;height:19.9mm;float:left;line-height:1mm;">
                        <img style="margin:1mm 2mm;width:65mm;height:20mm;" src="barcode.jpg" />
                        <br /><p style="width:70mm; font-size: 14pt;align-content:center; vertical-align:top;"><strong>2015010100002</strong></p>
                    </div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>库位地址  Storage  Address</p></div>
                    <div class="demo" style="width:70mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>KLT-A01-01</strong></p></div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>超市地址 Buffer  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>SA-001-01-01</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder rightborder" style="width:70mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>线边地址 Lineside  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.8mm;float:left;"><p style="font-size: 14pt;"><strong>AS-S-T1-01</strong></p></div>
                </div>
            </div>
        </div>
        <div id="detail" style="width:200mm;height:90mm;margin-bottom:5mm;">
            <div style="width:130mm;height:90mm;float:left;">
                <div class="topborder leftborder" style="width:39.6mm;height:26.9mm;float:left;">
                    <span>
                        <img style="margin:8mm 3mm;width:34mm;height:10mm;" src="Images/favio.jpg" />
                    </span>
                </div>
                <div class="topborder leftborder" style="width:89.9mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:89.9mm;height:5mm;float:left;"><p>零件 Part</p></div>
                    <div class="bottomborder demo" style="width:89.9mm;height:13.9mm;float:left;"><p style="font-size:30pt;"><strong>V700000953</strong></p></div>
                    <div class="demo" style="width:89.9mm;height:8mm;float:left;"><p style="font-size:14pt;"><strong>前排座椅滑轨前端装饰盖</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:77.5mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:77.5mm;height:5mm;float:left;"><p>供应商 Supplier</p></div>
                    <div class="bottomborder demo" style="width:77.5mm;height:13.9mm;float:left;"><p style="font-size:16pt;">宁波信泰机械有限公司</p></div>
                    <div class="demo" style="width:77.5mm;height:8mm;float:left;"><p style="font-size:16pt;"><strong>S0312</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:52mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:52mm;height:5mm;float:left;"><p>生产批次号 Production No.</p></div>
                    <div class="demo" style="width:52mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>20170810</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:38.3mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>器具代码 Package</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>EU12528</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:26mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>收容数SNP</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>10000</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:65mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>到货时间 Arrival Time</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>2015/4/27  13:30:00</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder" style="width:38.3mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>工厂 Plant</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>欧曼二厂</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:26mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>道口 Dock</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 18pt;"><strong>DR01</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:65mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>单据号 Order Number</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>AS150427K0011</strong></p></div>
                </div>
            </div>
            <div style="width:70mm;height:90mm;float:left;">
                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div style="width:70mm;height:19.9mm;float:left;line-height:1mm;">
                        <img style="margin:1mm 2mm;width:65mm;height:20mm;" src="barcode.jpg" />
                        <br /><p style="width:70mm; font-size: 14pt;align-content:center; vertical-align:top;"><strong>2015010100002</strong></p>
                    </div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>库位地址  Storage  Address</p></div>
                    <div class="demo" style="width:70mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>KLT-A01-01</strong></p></div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>超市地址 Buffer  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>SA-001-01-01</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder rightborder" style="width:70mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>线边地址 Lineside  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.8mm;float:left;"><p style="font-size: 14pt;"><strong>AS-S-T1-01</strong></p></div>
                </div>
            </div>
        </div>
        <div id="detail" style="width:200mm;height:90mm;margin-bottom:5mm;">
            <div style="width:130mm;height:90mm;float:left;">
                <div class="topborder leftborder" style="width:39.6mm;height:26.9mm;float:left;">
                    <span>
                        <img style="margin:8mm 3mm;width:34mm;height:10mm;" src="Images/favio.jpg" />
                    </span>
                </div>
                <div class="topborder leftborder" style="width:89.9mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:89.9mm;height:5mm;float:left;"><p>零件 Part</p></div>
                    <div class="bottomborder demo" style="width:89.9mm;height:13.9mm;float:left;"><p style="font-size:30pt;"><strong>V700000953</strong></p></div>
                    <div class="demo" style="width:89.9mm;height:8mm;float:left;"><p style="font-size:14pt;"><strong>前排座椅滑轨前端装饰盖</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:77.5mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:77.5mm;height:5mm;float:left;"><p>供应商 Supplier</p></div>
                    <div class="bottomborder demo" style="width:77.5mm;height:13.9mm;float:left;"><p style="font-size:16pt;">宁波信泰机械有限公司</p></div>
                    <div class="demo" style="width:77.5mm;height:8mm;float:left;"><p style="font-size:16pt;"><strong>S0312</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:52mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:52mm;height:5mm;float:left;"><p>生产批次号 Production No.</p></div>
                    <div class="demo" style="width:52mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>20170810</strong></p></div>
                </div>

                <div class="topborder leftborder" style="width:38.3mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>器具代码 Package</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>EU12528</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:26mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>收容数SNP</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>10000</strong></p></div>
                </div>
                <div class="topborder leftborder" style="width:65mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>到货时间 Arrival Time</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>2015/4/27  13:30:00</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder" style="width:38.3mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:38.3mm;height:5mm;float:left;"><p>工厂 Plant</p></div>
                    <div class="demo" style="width:38.3mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>欧曼二厂</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:26mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:26mm;height:5mm;float:left;"><p>道口 Dock</p></div>
                    <div class="demo" style="width:26mm;height:12.9mm;float:left;"><p style="font-size: 18pt;"><strong>DR01</strong></p></div>
                </div>
                <div class="topborder bottomborder leftborder" style="width:65mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:65mm;height:5mm;float:left;"><p>单据号 Order Number</p></div>
                    <div class="demo" style="width:65mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>AS150427K0011</strong></p></div>
                </div>
            </div>
            <div style="width:70mm;height:90mm;float:left;">
                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div style="width:70mm;height:19.9mm;float:left;line-height:1mm;">
                        <img style="margin:1mm 2mm;width:65mm;height:20mm;" src="barcode.jpg" />
                        <br /><p style="width:70mm; font-size: 14pt;align-content:center; vertical-align:top;"><strong>2015010100002</strong></p>
                    </div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:26.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>库位地址  Storage  Address</p></div>
                    <div class="demo" style="width:70mm;height:21.9mm;float:left;"><p style="font-size: 14pt;"><strong>KLT-A01-01</strong></p></div>
                </div>

                <div class="topborder leftborder rightborder" style="width:70mm;height:17.9mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>超市地址 Buffer  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.9mm;float:left;"><p style="font-size: 14pt;"><strong>SA-001-01-01</strong></p></div>
                </div>

                <div class="topborder bottomborder leftborder rightborder" style="width:70mm;height:17.8mm;float:left;">
                    <div class="bottomborder demo titlediv" style="width:70mm;height:5mm;float:left;"><p>线边地址 Lineside  Address</p></div>
                    <div class="demo" style="width:70mm;height:12.8mm;float:left;"><p style="font-size: 14pt;"><strong>AS-S-T1-01</strong></p></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>