<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data,Version=2.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WS.QMIS.OutboundDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="SqlConnection"/>
  <connectionStrings>


    <add name="SqlConnection" connectionString="User ID=sa;Initial Catalog=LES2018;Data Source=172.17.80.96;Password=pass1234;" providerName="System.Data.SqlClient" />

      <!--<add name="SqlConnection" connectionString="User ID=les;Initial Catalog=LES2018;Data Source=172.24.132.39;Password=pass1234;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="spanTime" value="5"/>
    <add key="consoleFlag" value="true"/>
    <add key="serviceFid" value="BFEB0EEC-151D-4DFC-A472-52BA3A1CFBB8"/>
    <add key="messageLanguage" value="zh-cn"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <WS.QMIS.OutboundDataService.Properties.Settings>
      <setting name="WS_QMIS_OutboundDataService_BFDAQMISAsnPull_ILesToQmisService"
        serializeAs="String">
        <value>http://172.24.132.106:7004/QMIS_JOB/service/lesToQmisService</value>
      </setting>
    </WS.QMIS.OutboundDataService.Properties.Settings>
  </applicationSettings>
</configuration>