<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="spanTime" value="10"/>
    <add key="consoleFlag" value="true"/>
    <add key="serviceFid" value=""/>
    <add key="hostUrl" value="http://127.0.0.1:8000/"/>
  </appSettings>
</configuration>