<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data,Version=2.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <dataConfiguration defaultDatabase="SqlConnection"></dataConfiguration>
  <connectionStrings>
    <add name="SqlConnection" connectionString="User ID=sa;Initial Catalog=SKMES;Data Source=172.17.114.114;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MainMenuMaxCount" value="4"/>
 
    <add key="WorkCellFid" value="4dbc1078-c5f9-430f-9e88-c3d96f5ca0ff"/>
         <!--value="4618E0C9-B357-4344-A8DD-D90EDF1DCFB8"/>-->
    <add key="FilePath" value="\\172.17.114.113\msw\ImportData"/>
    <add key="IsMaxWindows" value="false"/>
  </appSettings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>