<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data,Version=2.0.0.0,Culture=neutral,PublicKeyToken=null" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WS.SAP.OutboundDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="SqlConnection"/>
  <connectionStrings>
    
    <add name="SqlConnection" connectionString="User ID=sa;Initial Catalog=LES2018;Data Source=172.17.80.96;Password=pass1234;" providerName="System.Data.SqlClient" />
    <!--<add name="SqlConnection" connectionString="User ID=LES;Initial Catalog=LES2018;Data Source=172.24.132.39;Password=pass1234;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="spanTime" value="10" />
    <add key="consoleFlag" value="true" />
    <add key="serviceFid" value="C96692A5-54C1-4AEB-960E-A34065B92CB9" />
    <add key="GetLanguage" value="zh-cn" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LogFlag" value="true"/>
  </appSettings> 
  <applicationSettings>
    <WS.SAP.OutboundDataService.Properties.Settings>
      <setting name="WS_SAP_OutboundDataService_SAPWSDL_ZLES002Service"
        serializeAs="String">
        <value>http://omsapdev.foton.com.cn:8000/sap/bc/srt/rfc/sap/ZLES002?sap-client=900</value>
      </setting>
      <setting name="WS_SAP_OutboundDataService_SAPLACKMATERIALWSDL17_ZLES003Service"
        serializeAs="String">
        <value>http://bidev.foton.com.cn:8000/sap/bc/srt/rfc/sap/ZLES003?sap-client=800</value>
      </setting>
    </WS.SAP.OutboundDataService.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ZLES006SoapBinding" />
        <binding name="ZLES008SoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bidev.foton.com.cn:8000/sap/bc/srt/rfc/sap/ZLES006?sap-client=800"
        binding="basicHttpBinding" bindingConfiguration="ZLES006SoapBinding"
        contract="SAPWSDL15.ZLES006" name="ZLES006SoapBinding" />
      <endpoint address="http://cwsapqas.foton.com.cn:8001/sap/bc/srt/rfc/sap/ZLES008?sap-client=800"
        binding="basicHttpBinding" bindingConfiguration="ZLES008SoapBinding"
        contract="LesSap012.ZLES008" name="ZLES008SoapBinding" />
    </client>
  </system.serviceModel>
</configuration>