<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data,Version=2.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <dataConfiguration defaultDatabase="SqlConnection"/>
  <connectionStrings>
   <!--<add name="SqlConnection" connectionString="User ID=sa;Initial Catalog=LES2018;Data Source=172.17.80.96;Password=pass1234;" providerName="System.Data.SqlClient"/>-->
    <add name="SqlConnection" connectionString="User ID=LES;Initial Catalog=T_LES_BFDA;Data Source=118.89.248.153,7832;Password=E7D85732E37B452A891AB12A0FAF20D0;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="spanTime" value="1"/>
    <add key="consoleFlag" value="true"/>
    <add key="serviceFid" value="9974D11B-0CE3-44C1-AA37-76A27B9852DB"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
