<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data,Version=2.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <dataConfiguration defaultDatabase="SqlConnection"/>
  <connectionStrings>
    <add name="SqlConnection" connectionString="User ID=sa;Initial Catalog=LES2018;Data Source=172.17.80.96;Password=pass1234;" providerName="System.Data.SqlClient"/>

    <!--<add name="SqlConnection" connectionString="User ID=les;Initial Catalog=LES2018;Data Source=172.24.132.39;Password=pass1234;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="spanTime" value="10"/>
    <add key="consoleFlag" value="true"/>
    <add key="serviceFid" value="4E25F70A-9A6E-482D-B56C-CC18C6400E03"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
