<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data,Version=2.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <dataConfiguration defaultDatabase="SqlConnection"></dataConfiguration>
  <connectionStrings>
    <add name="SqlConnection" connectionString="User ID=sa;Initial Catalog=HOSPITAL_DMS_2018;Data Source=localhost\MSSQLSERVER_2017;Password=sa;" providerName="System.Data.SqlClient"/>
    <!--<add name="SqlConnection" connectionString="User ID=LES;Initial Catalog=T_LES_BFDA;Data Source=118.89.248.153,7832;Password=E7D85732E37B452A891AB12A0FAF20D0;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" cookieless="false" timeout="480"></sessionState>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <!--<staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>-->
  </system.webServer>
</configuration>
